{% extends "base.html" %}

{% load static %}

{% block title %}Каталог{% endblock %}

{% block content %}
  <div class="container">
    <div class="header">
      <h1>Каталог</h1>
    </div>

    <div class="sort-block">
      <span class="sort-item">Сортировать по:</span>
      <a class="sort-item" href="?sort=name">названию</a>
      <a class="sort-item" href="?sort=min_price">начиная с дешёвых</a>
      <a class="sort-item" href="?sort=max_price">начиная с дорогих</a>
    </div>

    <form method="get" action="{% 'catalog/' 'product_list' %}">
      <select name="sort">
        <option value="">Выберите порядок сортировки</option>
        <option value="name_asc">По названию (по возрастанию)</option>
        <option value="name_desc">По названию (по убыванию)</option>
        <option value="price_asc">По цене (по возрастанию)</option>
        <option value="price_desc">По цене (по убыванию)</option>
      </select>
      <input type="submit" value="Сортировать">
    </form>

    <ul>
      {% for phone in phones %}
        <li>{{ phone.name }} - {{ phone.price }}</li>
      {% endfor %}
    </ul>

    <div class="content">
      {% for phone in phones %}
        <div class="phone">
          <a href="{% url 'phone' phone.slug %}">
            <h3>{{ phone.name }}</h3>
          </a>
          <div class="price">Стоимость: {{ phone.price }} ₽</div>
          <img height="400" src="{{ phone.image }}" alt="{{ phone.name }}"/>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
